<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="styles.css">
    <title>View Data</title>
</head>

<body><!-- Top Menu -->
    {{>header}}
        <main> 
            {{{body}}}
        </main>
    {{>footer}}
</body>

</html>